* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
.github
docs
demo
tests
composer.lock
phpstan.neon
phpunit.xml.dist
pint.json
.editorconfig
