includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - database
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
