includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 6
    paths:
        - ../src
        - ../database

    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.generics
        - identifier: argument.templateType
        - identifier: missingType.iterableValue
        - identifier: return.type
        - identifier: class.notFound
        - identifier: notIdentical.alwaysTrue
        - identifier: property.notFound
